{% extends '../base.html' %}
{% block content %}
<div class="user_data_over">
    <div class="search-box">
        <input type="text">
    </div>
    <div class="right_bar">
        <a href="#">
            Users Table
        </a>
        <a href="#">
            Group Table
        </a>
        <a href="#">
            Messages Table
        </a>
    </div>
    <div class="users-data">
        <div class="user-div">
            <h2>
                Username
            </h2>
            <button>
                Delete User
            </button>
            <button>
                Stop User Activity
            </button>
            <p class="online status">
                <ion-icon class="wifi" name="wifi"></ion-icon>
            </p>
            <!-- <p class="offline status">
                <ion-icon name="cloud-offline"></ion-icon>
            </p> -->
            <!-- <p class="super">
                <ion-icon class="normal_icon" name="person-circle-outline"></ion-icon>
            </p> -->
            <p class="super">
                <ion-icon class="super_icon" name="person-add"></ion-icon>
            </p>
        </div>
        <div class="user-div">
            <h2>
                Username
            </h2>
            <button>
                Delete User
            </button>
            <button>
                Stop User Activity
            </button>
            <!-- <p class="online status">
                <ion-icon class="wifi" name="wifi"></ion-icon>
            </p> -->
            <p class="offline status">
                <ion-icon name="cloud-offline"></ion-icon>
            </p>
            <p class="super">
                <ion-icon class="normal_icon" name="person-circle-outline"></ion-icon>
            </p>
            <!-- <p class="super">
                <ion-icon class="super_icon" name="person-add"></ion-icon>
            </p> -->
        </div>
        <div class="user-div">
            <h2>
                Username
            </h2>
            <button>
                Delete User
            </button>
            <button>
                Stop User Activity
            </button>
            <!-- <p class="online status">
                <ion-icon class="wifi" name="wifi"></ion-icon>
            </p> -->
            <p class="offline status">
                <ion-icon name="cloud-offline"></ion-icon>
            </p>
            <p class="super">
                <ion-icon class="normal_icon" name="person-circle-outline"></ion-icon>
            </p>
            <!-- <p class="super">
                <ion-icon class="super_icon" name="person-add"></ion-icon>
            </p> -->
        </div>
        <div class="user-div">
            <h2>
                Username
            </h2>
            <button>
                Delete User
            </button>
            <button>
                Stop User Activity
            </button>
            <!-- <p class="online status">
                <ion-icon class="wifi" name="wifi"></ion-icon>
            </p> -->
            <p class="offline status">
                <ion-icon name="cloud-offline"></ion-icon>
            </p>
            <!-- <p class="super">
                <ion-icon class="normal_icon" name="person-circle-outline"></ion-icon>
            </p> -->
            <p class="super">
                <ion-icon class="super_icon" name="person-add"></ion-icon>
            </p>
        </div>
        <div class="info">
            <button>
                Add User
            </button>
        </div>
    </div>
</div>
{% endblock %}