{% extends '../base.html' %}
{% block content %}
<div class="user_activity">
    <div class="searchbar">
        <input class="search" type="text">
        <ion-icon class="search_icon" name="search-outline"></ion-icon>
    </div>
    <div class="activity">
        <div class="day_activity"></div>
        <div class="week_activity"></div>
    </div>
    <div class="user_reg"></div>
</div>
<script>
    const searchInput = document.querySelector('.search');
    const searchIcon = document.querySelector('.search_icon');
    searchIcon.addEventListener('click', function(){
        searchInput.focus();
    })
</script>
{% endblock %}