{% extends '../base.html' %}
{% block content %}
<div class="main_page_div">
    <div class="main-div">
        <a href="#">
            <h2>
                Users Table
            </h2>
        </a>
        <a href="#">
            <h2>
                Groups Table
            </h2>
        </a>
        <a href="#">
            <h2>
                Messages Table
            </h2>
        </a>
    </div>
    <div class="activity-div">
        <h2>
            Greg
        </h2>
        <div class="buttons">
            <button>
                Years
            </button>
            <button>
                Year
            </button>
            <button>
                Month
            </button>
            <button>
                Week
            </button>
            <button>
                Day
            </button>
        </div>
        <div class="graph">
        </div>
    </div>
    <div class="activity-div">
        <h2>
            Greg
        </h2>
        <div class="buttons">
            <button>
                Years
            </button>
            <button>
                Year
            </button>
            <button>
                Month
            </button>
            <button>
                Week
            </button>
            <button>
                Day
            </button>
        </div>
        <div class="graph">
        </div>
    </div>
    <div class="activity-div">
        <h2>
            Greg
        </h2>
        <div class="buttons">
            <button>
                Years
            </button>
            <button>
                Year
            </button>
            <button>
                Month
            </button>
            <button>
                Week
            </button>
            <button>
                Day
            </button>
        </div>
        <div class="graph">
        </div>
    </div>
    <div class="activity-div">
        <h2>
            Greg
        </h2>
        <div class="buttons">
            <button>
                Years
            </button>
            <button>
                Year
            </button>
            <button>
                Month
            </button>
            <button>
                Week
            </button>
            <button>
                Day
            </button>
        </div>
        <div class="graph">
        </div>
    </div>
    <div class="activity-div">
        <h2>
            Greg
        </h2>
        <div class="buttons">
            <button>
                Years
            </button>
            <button>
                Year
            </button>
            <button>
                Month
            </button>
            <button>
                Week
            </button>
            <button>
                Day
            </button>
        </div>
        <div class="graph">
        </div>
    </div>
</div>
{% endblock %}