{% extends '../base.html' %}
{% block content %}
<div class="user_table">
    <div class="searchbar">
        <input class="search" type="text">
        <ion-icon class="search_icon" name="search-outline"></ion-icon>
    </div>
    <div class="users_div">
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
        <div class="user">
            <p class="user_name">
                User Name
            </p>
            <p class="active">
                <ion-icon name="wifi-outline"></ion-icon>
            </p>
            <p class="inactive">
                <ion-icon name="cloud-offline-outline"></ion-icon>
            </p>
            <p class="normal_user">
                <ion-icon name="person-outline"></ion-icon>
            </p>
            <p class="super_user">
                <ion-icon name="person-add-outline"></ion-icon>
            </p>
            <div class="super_buttons">
                <button>
                    Stop activity To review
                </button>
                <button>
                    Delete User
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}