:root {
    --color1: rgba(16,12,8);
    --color2: rgba(72,6,7);
    --color3: rgba(86,3,25);
    --color4: rgba(226,6,44);
    --color5: rgba(255,0,0);
    --color6: rgba(255,69,0);
    --color7: rgba(245,255,250);
    --color8: rgba(245,245,245);
    --color9: rgba(255,240,245);
    --color10: #2f4f4f;
    --color11: rgb(0,255,0);
    --color12: rgb(255,215,0);

}

/**
##########
###############
####################
Body Of HTML
####################
###############
##########
*/

body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--color10);
    color: var(--color7);
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
}

.whitness {
    background: var(--color7);
}

/**
##########
###############
####################
Header Section
####################
###############
##########
*/

body header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--color2);
    z-index: 100;
}

body header img {
    width: 8%;
}

body header label {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
}

body header label input {
    position: absolute;
    opacity: 0;
}

body header label .sun {
    font-size: 2rem;
    color: var(--color7);
    filter: drop-shadow(0 0 2px rgba(245,255,250));
    transition: 0.5s;
}

body header label input:checked~.sun {
    transform: rotate(360deg) scale(0);
    color: var(--color1);
}

body header label .moon {
    position: absolute;
    font-size: 2rem;
    color: var(--color1);
    filter: drop-shadow(0 0 2px rgba(35,43,43));
    transform: scale(0);
    transition: 0.5s;
}

body header label input:checked~.moon {
    transition-delay: .3s;
    transform: scale(1) rotate(360deg);
}

body header label .toggle {
    position: absolute;
    display: block;
    width: 56px;
    height: 56px;
    background: rgb(35,43,43);
    border-radius: 50%;
    z-index: -1;
    transition: 1s;
}

input:checked~.toggle {
    background: var(--color7);
}

body header form button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 104px;
    height: 48px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2rem;
    background-image: linear-gradient(90deg, var(--color4), var(--color5), var(--color6));
    background-size: 500%;
    cursor: pointer;
    transition: .5s;
}

body header form button p {
    z-index: 2;
}

body header form button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: var(--color5);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 1s;
    z-index: 1;
}

body header form button:hover::before {
    transform: scaleY(1);
    transform-origin: top;
}

body header form button:hover {
    transform: scale(1.2);
}

/**
##########
###############
####################
Container Section
####################
###############
##########
*/

body .container {
    position: relative;
    top: 100px;
    background: var(--color10);
    width: 100%;
    height: 100%;
}

.whitness .container {
    color: var(--color1);
    background: var(--color7);
}

.main_page_div {
    width: 100%;
    height: 100%;
    background: var(--color10);
    display: flex;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 24px;
    padding-bottom: 24px;
}

.main-div {
    position: relative;
    left: 2.4%;
    top: 2.4%;
    background: rgba(47,79, 79, 0.4);
    box-shadow: 16px 2px 23px 4px rgba(0,0,0,0.39);
    -webkit-box-shadow: 16px 2px 23px 4px rgba(0,0,0,0.39);
    -moz-box-shadow: 16px 2px 23px 4px rgba(0,0,0,0.39);
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.whitness .main-div,
.whitness .activity-div {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 16px 2px 23px 4px rgba(0,0,0,0.39);
    -webkit-box-shadow: 16px 2px 23px 4px rgba(0,0,0,0.39);
    -moz-box-shadow: 16px 2px 23px 4px rgba(0,0,0,0.39);
}

.main-div a {
    text-decoration: none;
    color: var(--color7);
    transition: 0.4s;
}

.main-div a:hover {
    text-decoration: none;
    color: color-mix(in srgb, var(--color6), var(--color3) 8%);
    transform: scale(1.2);
}

.activity-div {
    position: relative;
    top: 2.4%;
    left: 8%;
    width: 40%;
    height: 64%;
    background: rgba(47,79, 79, 0.4);
    box-shadow: 16px 2px 23px 4px rgba(0,0,0,0.39);
    -webkit-box-shadow: 16px 2px 23px 4px rgba(0,0,0,0.39);
    -moz-box-shadow: 16px 2px 23px 4px rgba(0,0,0,0.39);
    border-radius: 16px;
}

.activity-div .graph {
    width: 100%;
    height: 200px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background: var(--color7);
}

.activity-div .buttons button {
    cursor: pointer;
}

/**
##########
###############
####################
Right-Bar Section
####################
###############
##########
*/

.user_data_over {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.right_bar {
    position: relative;
    width: 16%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: var(--color2);
}

.right_bar a {
    color: var(--color7);
    text-decoration: none;
}

.user_data_over .users-data {
    width: 100%;
    height: 100%;
    padding-top: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user_data_over .users-data .online,
.user_data_over .users-data .offline,
.user_data_over .users-data .super {
    font-size:1.6rem;
}

.user_data_over .users-data .online {
    color: var(--color11);
}

.user_data_over .users-data .online .wifi {
    transform: rotate(50deg);
}

.user_data_over .users-data .offline {
    color: var(--color6);
}

.user_data_over .users-data .super {
    color: var(--color12);
}

.user_data_over .users-data .email {
    position: absolute;
    bottom: -4%;
    left: 2%;
}

.user_data_over .users-data .user-div {
    position: relative;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,240,245, 0.2);
    border-top: 1px solid rgba(255,240,245, 0.2);
    background: var(--color1);
    box-shadow: 21px 10px 40px 8px rgba(0,0,0,0.62);
    -webkit-box-shadow: 21px 10px 40px 8px rgba(0,0,0,0.62);
    -moz-box-shadow: 21px 10px 40px 8px rgba(0,0,0,0.62);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user_data_over .users-data .info {
    position: relative;
    margin-top: 80px;
    bottom: 0;
}

.search-box {
    position: absolute;
    top: 0;
    right: 5%;
    width: 80%;
    height: 50px;
    background: green;
    z-index: 500;
}

.search-box input {
    width: 100%;
}