:root {
    --color1: rgba(16,12,8);
    --color2: rgba(72,6,7);
    --color3: rgba(86,3,25);
    --color4: rgba(226,6,44);
    --color5: rgba(255,0,0);
    --color6: rgba(255,69,0);
    --color7: rgba(245,255,250);
    --color8: rgba(245,245,245);
    --color9: rgba(255,240,245);
    --color10: #2f4f4f;
    --color11: rgb(0,255,0);
    --color12: rgb(255,215,0);

}

/**
##########
###############
####################
Body Of HTML
####################
###############
##########
*/

body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--color10);
    color: var(--color7);
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
}

.whitness {
    background: var(--color7);
}

/**
##########
###############
####################
Header Section
####################
###############
##########
*/

body header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--color2);
    z-index: 100;
}

body header img {
    width: 8%;
}

body header label {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
}

body header label input {
    position: absolute;
    opacity: 0;
}

body header label .sun {
    font-size: 2rem;
    color: var(--color7);
    filter: drop-shadow(0 0 2px rgba(245,255,250));
    transition: 0.5s;
}

body header label input:checked~.sun {
    transform: rotate(360deg) scale(0);
    color: var(--color1);
}

body header label .moon {
    position: absolute;
    font-size: 2rem;
    color: var(--color1);
    filter: drop-shadow(0 0 2px rgba(35,43,43));
    transform: scale(0);
    transition: 0.5s;
}

body header label input:checked~.moon {
    transition-delay: .3s;
    transform: scale(1) rotate(360deg);
}

body header label .toggle {
    position: absolute;
    display: block;
    width: 56px;
    height: 56px;
    background: rgb(35,43,43);
    border-radius: 50%;
    z-index: -1;
    transition: 1s;
}

input:checked~.toggle {
    background: var(--color7);
}

body header form button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 104px;
    height: 48px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2rem;
    background-image: linear-gradient(90deg, var(--color4), var(--color5), var(--color6));
    background-size: 500%;
    cursor: pointer;
    transition: .5s;
}

body header form button p {
    z-index: 2;
}

body header form button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: var(--color5);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 1s;
    z-index: 1;
}

body header form button:hover::before {
    transform: scaleY(1);
    transform-origin: top;
}

body header form button:hover {
    transform: scale(1.2);
}

/**
##########
###############
####################
Side-By-Side Section
####################
###############
##########
*/
.flex {
    width: 100%;
    height: 85vh;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: row;
}

/**
##########
###############
####################
Side Section
####################
###############
##########
*/

.flex .side_section {
    position: fixed;
    height: 82%;
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--color2);
    z-index: 100;
}

.flex .side_section .anchor {
    position: relative;
    text-decoration: none;
    color: var(--color7);
    border-radius: 50%;
    padding: 7px;
    transition: all 0.5s;
}

.flex .side_section .aftbef::after,
.flex .side_section .aftbef::before {
    content: '';
    position: absolute;
    left: 2px;
    width: 20px;
    height: 20px;
    background: transparent;
    transition: all 1s;
}


.flex .side_section .aftbef::after {
    top: -24%;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px var(--color10);
    transform: rotate(-8deg);
}

.whitness .flex .side_section .aftbef::after {
    box-shadow: 5px 5px var(--color7);
}


.flex .side_section .aftbef::before {
    bottom: -24%;
    border-top-right-radius: 20px;
    box-shadow: 5px -3px var(--color10);
    transform: rotate(8deg);
}

.whitness .flex .side_section .aftbef::before {
    box-shadow: 5px -3px var(--color7);
}

.flex .side_section .active {
    transform: translateX(56px);
    background: var(--color10);
}

.whitness .flex .side_section .active {
    background: var(--color7);
    color: var(--color1);
}

.flex .side_section .anchor .icon {
    font-size: 2.4rem;
}

/**
##########
###############
####################
Container Section
####################
###############
##########
*/

body .flex .container {
    position: relative;
    left: 11%;
    width: 89%;
    height: 100%;
}

.whitness .container {
    color: var(--color1);
    background: var(--color7);
}