{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <!--Fonts-->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="{% static 'imgs/logo.png' %}" alt="">
        <h3>
            Welcome <span>{{ username }}</span>
        </h3>
        <label>
            <input type="checkbox" id="theme-toggle">
            <ion-icon name="moon" class="moon"></ion-icon>
            <ion-icon name="sunny" class="sun"></ion-icon>
            <span class="toggle"></span>
        </label>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">
                <p>
                    Logout
                </p>
            </button>
        </form>
    </header>
    <div class="flex">
        <div class="side_section">
            <a hrefa="{% url 'admin' %}" class="anchor active aftbef" title="Home Page">
                <ion-icon class="icon" name="home-outline"></ion-icon>
            </a>
            <a hrefa="{% url 'adminstration' %}" class="anchor" title="Auth Tables">
                <ion-icon class="icon" name="people-outline"></ion-icon>
            </a>
            <a hrefa="{% url 'messages_table' %}" class="anchor" title="Messages Table">
                <ion-icon class="icon" name="chatbubble-ellipses-outline"></ion-icon>
            </a>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        //Toggle theme
        const checkBox = document.querySelector('#theme-toggle');
        checkBox.addEventListener('change', function(){
            if (checkBox.checked){
                document.body.classList.add('whitness');
            }
            else {
                document.body.classList.remove('whitness');
            }
        })

        //Side section Actions
        const anchors = document.querySelectorAll('.anchor');
        const container = document.querySelector('.container');
        anchors.forEach(anchor => {
            anchor.addEventListener('click', function(event){
                event.preventDefault();
                url = this.getAttribute('hrefa');

                fetch(url)
                .then(response => response.text())
                .then(html => {
                    let tempDiv = document.createElement('div');
                    tempDiv.innerHTML = html;
                    newContent = tempDiv.querySelector('.container');
                    if (newContent) {
                        container.innerHTML = newContent.innerHTML;
                    }
                    else {
                        alert('No content found');
                    };
                    anchors.forEach(a => {
                    a.classList.remove('active');
                    a.classList.remove('aftbef');
                    });
                    this.classList.add('active');
                    setTimeout(() => {
                        this.classList.add('aftbef');
                    }, 250);
                })
                .catch(err => alert('Error loading page: ', err));
            })
        })

        //Logout after 5seconds
        let timeout;
        const TIMEOUT_DURATION = 900000;

        function resetTimeout(){
            clearTimeout(timeout);
            timeout = setTimeout(logout, TIMEOUT_DURATION);
        }

        function logout(){
            fetch('/logout/', {
                method : 'POST',
                headers : {
                    'X-CSRFToken' : getcookie('csrftoken'),
                }
            }).then(response => {
                if (response.ok) {
                    window.location.href = '/login/'
                }
            });
        }

        function getcookie(name) {
            let cookieValue;

            if (document.cookie && document.cookie !== ''){
                const cookies = document.cookie.split(';');

                for(let i=0; i < cookies.length; i++){
                    const cookie = cookies[i].trim();

                    if(cookie.substring(0, name.length + 1) == (name + '=')){
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    }
                }
            }
            return cookieValue;
        }

        document.addEventListener('mousemove', resetTimeout);
        document.addEventListener('keydown', resetTimeout);
        document.addEventListener('scroll', resetTimeout);
    </script>
</body>
</html>